.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2347px;
  position: relative;
}

.desktop .nav {
  position: absolute;
  width: 1228px;
  height: 50px;
  top: 28px;
  left: 40px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: "Hahmlet", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 9px;
  left: 433px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #616563;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 9px;
  left: 612px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #616563;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 9px;
  left: 814px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #606563;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .gallery {
  position: absolute;
  width: 171px;
  height: 50px;
  top: 0;
  left: 1051px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 9px;
  left: 62px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .overlap-group {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #14500f;
  border-radius: 25px;
}

.desktop .image {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 7px;
  left: 7px;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 197px;
  left: 516px;
  font-family: "Familjen Grotesk", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 7.2px;
  line-height: normal;
}

.desktop .rectangle {
  position: absolute;
  width: 1439px;
  height: 537px;
  top: 1810px;
  left: 1px;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 308px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 488px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 668px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 848px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop.rectangle-6{
  display: none;
}
.desktop.rectangle-7{
  display: none;
}
.desktop.rectangle-8{
  display: none;
}
.desktop.rectangle-9{
  display: none;
}
.desktop.rectangle-10{
  display: none;
}
.desktop .overlap {
  position: absolute;
  width: 1000px;
  height: 600px;
  top: 1091px;
  left: 234px;
  background-color: #ffffff;
  box-shadow: 2px 2px 13px 3px #00000040;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 49px;
  left: 582px;
  font-family: "Familjen Grotesk", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 5.4px;
  line-height: normal;
}

.desktop .ellipse {
  position: absolute;
  width: 434px;
  height: 434px;
  top: 106px;
  left: 44px;
  object-fit: cover;
}

@media (max-width:1020px){
  .desktop .overlap {
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 120px;
    left: 234px;
    background-color: #ffffff;
    box-shadow: 2px 2px 13px 3px #00000040;
  }
  .desktop .rectangle {
    position: absolute;
    width: 1439px;
    height: 577px;
    top: 2620px;
    left: 1px;
}
.desktop .rectangle-2 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 900px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .rectangle-3 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 1100px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 1300px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 1500px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .text-wrapper-6 {
  position: absolute;
  top: 800px;
  left: 516px;
  font-family: "Familjen Grotesk", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 7.2px;
  line-height: normal;
}
.desktop .rectangle-6 {
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 1700px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .rectangle-7{
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 1900px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .rectangle-8{
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 2100px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .rectangle-9{
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 2300px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .rectangle-10{
  position: absolute;
  width: 1200px;
  height: 150px;
  top: 2500px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 65px;
  box-shadow: 2px 4px 13px 3px #00000040;
}
.desktop .text-wrapper {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: "Hahmlet", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 4.5px;
  line-height: normal;
}
.desktop .text-wrapper-2 {
  position: absolute;
  top: 9px;
  left: 433px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #616563;
  font-size: 40px;
  letter-spacing: 4.5px;
  line-height: normal;
}
.desktop .text-wrapper-3 {
  position: absolute;
  top: 9px;
  left: 612px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #616563;
  font-size: 40px;
  letter-spacing: 4.5px;
  line-height: normal;
}
.desktop .text-wrapper-4 {
  position: absolute;
  top: 9px;
  left: 844px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #606563;
  font-size: 40px;
  letter-spacing: 4.5px;
  line-height: normal;
}
.desktop .text-wrapper-5 {
  position: absolute;
  top: 9px;
  left: 62px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 4.5px;
  line-height: normal;
}
.desktop .text-wrapper-7 {
  position: absolute;
  top: 49px;
  left: 582px;
  font-family: "Familjen Grotesk", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 5.4px;
  line-height: normal;
}
}